p{
	
 color:purple;
 font-weight:bold;
}
p{
	font-size:20px;
}
h2{
	background-color:gray;
}
.paragraph{
background-color:white;
}

img {
	border-radius:8px;
}
h1{
	color:white;
	font-family:armenian;
  font-size: 35px;
}
